@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  font-weight: 400;
  word-wrap: break-word;
  color: #444444;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.page-header {
  position: relative;
  margin-top: 35px;
  padding-top: 46px;
  padding-bottom: 140px;
  background-color: #FFE17F;
}

.page-header-inner {
  padding-bottom: 23px;
}

.navigation {
  width: 1040px;
  margin: 0 auto;
}

.logo {
  position: absolute;
  left: 60px;
  top:-18px;
  display: block;
  cursor: pointer;
}

.logo:hover .logo-photo,
.logo-footer:hover .logo-footer-photo,
.breadcrumb-link:hover,
.sort-select:hover {
  opacity: 0.6;
}

.logo:active .logo-photo,
.logo-footer:active .logo-footer-photo,
.breadcrumb-link:active,
.sort-select:active {
  opacity: 0.3;
}

.nav-user-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1040px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.search-form {
  position: relative;
  display: flex;
  width: 517px;
}

.search-form-input,
.search-button {
  box-sizing: border-box;
  background-color: #FFE17F;
}

.search-form-input {
  flex-grow: 1;
  margin: 0;
  padding:10px 28px 10px 38px;
  border: 2px solid #000000;
  border-right: 1px solid;
  border-radius: 50px 0 0 50px;
}

.search-form::before {
  position: absolute;
  top:14px;
  left: 16px;
  width: 16px;
  height: 16px;
  content: "";
  background: url("../images/decorative-images/search-pic.svg") no-repeat 50% 50%;
}

.search-form-input::placeholder,
.search-button {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color:#000000;
}

.search-button {
  width: 160px;
  padding: 10px 16px;
  border: 2px solid #000000;
  border-left: 1px solid;
  border-radius: 0 50px 50px 0;
}

.search-button:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.search-button:active {
  color: #FFFFFF;
  background-color: #000000;
  opacity: 0.3;
}

.search-form-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color:#000000;
}

.search-form-input::-moz-placeholder {
  font-size: 16px;
  line-height: 20px;
  color:#000000;
}

.search-form-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color:#000000;
}

.nav-user,
.nav-main,
.nav-main-subnav,
.promo-list,
.navigation-service,
.catalog-list-items,
.about-delivery-list,
.footer-nav,
.social-list,
.breadcrumbs-list,
.filter-choice,
.product-list,
.pagination-wrapper,
.basket-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-user {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 497px;
}

.user-nav-link {
  display: block;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
  color:#000000;
  text-decoration: none;
}

.nav-main-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 52px;
}

.nav-main-catalog {
  width: 293px;
}

.nav-main-other {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 598px;
  width: 471px;
}

.login,
.compare,
.basket {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  column-gap: 12px;
  align-items: center;
  cursor: pointer;
}

.compare:hover,
.basket:hover,
.login:hover,
.logout:hover,
.user-login:hover,
.nav-main-link:hover,
.nav-main-subnav-link:hover,
.photo-pagination:hover,
.promo-list-pagination:hover,
.current-pagination:hover {
  opacity: 0.6;
}

.compare:active,
.basket:active,
.login:active,
.user-login:active,
.nav-main-link:active,
.nav-main-subnav-link:active,
.photo-pagination:active,
.promo-list-pagination:active,
.current-pagination:active {
  opacity: 0.3;
}

.basket-item {
  position: relative;
}

.basket-item:hover  .basket-popover {
  position: absolute;
  content: "";
  right: -75px;
  z-index: 3;
  display: flex;
}

.login {
  min-width: 210px;
}

.user-login {
  min-width: 146px;
}

.logout {
  color:rgba(0, 0, 0, 0.3);

}
.login::before {
  width: 15px;
  height: 12px;
  content: "";
  background: url("../images/decorative-images/userpic.svg") no-repeat 50% 50%;
}

.compare::before {
  width: 14px;
  height: 12px;
  content: "";
  background: url("../images/decorative-images/compare-pic.svg") no-repeat 50% 50%;
}

.basket::before {
  width: 20px;
  height: 14px;
  content: "";
  background: url("../images/decorative-images/basket-pic.svg") no-repeat 50% 50%;
}

.nav-main-catalog .nav-main-item {
  position: relative;
}

.nav-main-subnav-wrapper {
  position: relative;
  display: none;
  background-color:#FFE17F;
}

.nav-main-link,
.nav-main-subnav-label {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.nav-main-other .nav-main-link {
  display: block;
  padding: 12px 0;
}

.nav-main-subnav-label {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.nav-main-subnav-label::after {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  content: "";
  background: url("../images/decorative-images/plus-pic.svg") no-repeat;
  opacity: 0.3;
}

.nav-main-subnav-opener:checked ~ .nav-main-subnav-label::after {
  display: none;
}

.nav-main-subnav-opener:checked ~ .nav-main-subnav-wrapper {
  position: absolute;
  top: 31px;
  left:-60px;
  display: flex;
  width: 1160px;
  padding: 20px 60px 30px 60px;
  box-sizing: border-box;
}

.nav-main-subnav-opener:checked ~ .nav-main-subnav-label::before {
  position: absolute;
  top:-14.5px;
  left: 236px;
  z-index: 1;
  width: 50px;
  height: 50px;
  content: "";
  background: url("../images/decorative-images/minus-pic.svg") no-repeat;
  opacity: 0.3;
}

.nav-main-subnav-opener:hover ~ .nav-main-subnav-label::before,
.nav-main-subnav-opener:hover ~ .nav-main-subnav-label,
.nav-main-subnav-opener:hover ~ .nav-main-subnav-label::after {
  cursor: pointer;
  opacity: 1;
}

.nav-main-subnav {
  width: 211px;
}

.nav-main-subnav:nth-child(2) {
  margin-right: 1px;
}

.nav-main-subnav.wide {
  width: 222px;
  margin-right: 30px;
}

.nav-main-subnav-link {
  display: inline-block;
  padding: 5px 0;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.active-link {
  border-bottom: 2px solid #000000;
}

.main-container {
  flex-grow: 1;
}

.service-delivery,
.about-and-contacts {
  margin-bottom: 70px;
}

.promo-list {
  margin-bottom: 60px;
}

.promo-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.promo-list-item:not(:first-child) {
  margin-top:439px;
}

.promo-list-item-photo-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
  width: 560px;
  margin-top: -160px;
}

.promo-list-item-photo {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  text-decoration: none;
}

.photo-pagination {
  position: absolute;
  top:50%;
  width: 20px;
  height: 60px;
  border: none;
  cursor: pointer;
}

.promo-list-photo-back {
  left:30px;
  background: url("../images/decorative-images/left-tall-arrow.svg") no-repeat 50% 50%;
  transform:translateY(-110%);
}

.promo-list-photo-forward {
  right: 0;
  background: url("../images/decorative-images/left-tall-arrow.svg") no-repeat 50% 50%;
  transform:translateY(-110%) rotate(180deg);
}

.promo-list-item-description-wrapper::before {
  position: absolute;
  right: 7px;
  top:-47px;
  z-index: -1;
  display: block;
  min-width: 250px;
  min-height: 135px;
  font-weight: bold;
  font-size: 180px;
  line-height: 30px;
  content: "";
  color: #FFFFFF;
}

.promo-wrapper-first::before {
  content: "01";
}

.promo-wrapper-second::before {
  content: "02";
}

.promo-wrapper-second::after,
.promo-wrapper-third::after {
  position: absolute;
  top:-270px;
  right: 0;
  z-index: -2;
  width: 1160px;
  height: 300px;
  content: "";
  background-color: #FFE17F;
}

.promo-wrapper-third::before {
  content: "03";
}

.promo-list-item-description-wrapper {
  position: relative;
  z-index: 1;
  width: 560px;
  margin-top: -35px;
}

b.promo-list-item-description,
.service-content-title,
.about-title,
.contacts-title,
.subscription-title,
.inner-header-title,
.modal-window-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

b.promo-list-item-description {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

p.promo-list-item-description {
  margin-bottom: 51px;
}

.details-pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width:76px;
}

.promo-list-pagination {
  position: relative;
  width: 12px;
  max-width: 12px;
  height: 12px;
  padding: 0;
  border:2px solid #000000;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 300ms;
}

.promo-list-pagination::before,
.social-item-link::before,
.range-toggle::before {
  position: absolute;
  top:-4px;
  left: -4px;
  display: none;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  content: "";
  border: 2px solid #AF4FFF;
}

.promo-list-pagination:focus:before,
.social-item-link:focus::before,
.range-toggle:focus::before,
.range-toggle:active:before {
  display: block;
}

.current-pagination {
  background-color: #000000;
}

.click-item {
  display: none;
}

.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 160px;
  padding: 10px;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 300ms;
}

.btn:hover {
 background-color: #FFE17F;
}

.btn:active {
  background-color: #FFCC33;
}

.btn:hover::before,
.btn:active:before {
  display: none;
}

.logo-footer:focus {
  border: none;
  outline: none;
}

.btn:focus,
.user-nav-link:focus,
.nav-main-link:focus,
.nav-main-subnav-opener:focus + .nav-main-subnav-label,
.nav-main-subnav-opener:focus + .nav-main-subnav-label:before,
.nav-main-subnav-link:focus,
.photo-pagination:focus,
.catalog-list-item-link:focus,
.catalog-list-item-link:focus::before,
button.modal-window:focus::before,
button.modal-window:focus::after,
button.modal-window:focus,
.footer-phone-link:focus,
.footer-nav-link:focus,
.htmlacademy-link:focus,
.product-show-more:focus,
.pagination-link:focus,
.product-card:focus,
.sort-select:focus,
.filter-input:focus + .label-choice::before,
.modal-window-input:focus,
.logo:focus .logo-photo,
.logo-footer:focus .logo-footer-photo,
.breadcrumb-link:focus,
.search-button:focus,
.search-form-input:focus,
.subscription-button:focus,
.subscription-input:focus,
.promo-list-item-photo:focus,
.address-phone-link:focus,
.product-card-link:focus {
  outline:2px solid #AF4FFF;
  outline-offset: 2px;
  z-index: 5;
}

.btn:disabled,
.search-form-input:disabled,
.photo-pagination:disabled,
.promo-list-pagination:disabled,
.current-pagination:disabled,
.product-show-more:disabled,
.sort-select:disabled,
.modal-window-input:disabled,
.search-button:disabled,
.search-form-input:disabled,
.subscription-button:disabled {
 opacity: 0.1;
}

.btn::before {
  position: absolute;
  z-index: -1;
  content: "";
  left:0;
  height: 8px;
  width: 100%;
  background-color: #FFE17F;
  transform: translateY(90%);
}

.btn.current::before,
.subscription-button::before,
.basket-open::before {
  display: none;
}

.promo-list-item-details {
  min-width: 220px;
  padding: 10px 5px;
  text-align: center;
}

.promo-list-item-features {
  border-spacing: 6px 12px;
}

.current {
  width: 280px;
  text-align: left;
  color: #FFE17F;
  background-color: #000000;
}

.current:hover {
  color: rgba(255, 225, 127, 0.5);
  background-color: #000000;
}

.current:active {
  color:rgba(255, 225, 127, 0.3);
  background-color: #000000;
}

.promo-list-item-table-row {
  font-size: 36px;
  color: #000000;
}

.promo-list-item-table-header {
  font-size: 16px;
}

.catalog-list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-list-item {
  padding-top: 192px;
  width: 160px;
}

.catalog-list-item-link {
  position: relative;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
  transition-duration: 200ms;
}

.catalog-list-item-link::before {
  position: absolute;
  top:-192px;
  left:0;
  display: block;
  width: 160px;
  height: 160px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFE17F;
  border: none;
  transition-duration: 200ms;
}

.virtual-reality::before {
  background-image:url("../images/decorative-images/catalog-virtual-reality.svg");
}

.monopods::before {
  background-image:url("../images/decorative-images/catalog-monopods.svg");
}

.action-cameras::before {
  background-image:url("../images/decorative-images/catalog-action-cameras.svg");
}

.fitness::before {
  background-image:url("../images/decorative-images/catalog-fitness.svg");
}

.smart-watch::before {
  background-image:url("../images/decorative-images/catalog-smart-watch.svg");
}

.quadcopters::before {
  background-image:url("../images/decorative-images/catalog-quadcopter.svg");
}

.catalog-list-item-link:hover::before,
button.modal-window:hover::before {
  background-color: #FFC700;
}

.catalog-list-item-link:active::before,
button.modal-window:active::before,
button.modal-window:active::after,
button.modal-window:active,
.subscription-button:active {
  opacity: 0.3;
}

.catalog-list-item-link:active {
  color:rgba(0, 0, 0, 0.3);
}

.service-container {
  position: relative;
  z-index: 1;
  display: flex;
  padding-top: 72px;
  margin-bottom: 20px;
}

.service-container:last-child {
  margin-bottom: 0;
}

.service-container::before {
  position: absolute;
  top:175px;
  left: -1000px;
  right: -1000px;
  z-index: -1;
  display: block;
  min-width: 100vw;
  height: 280px;
  content: "";
  background-color: #F0F0F0;
}

.navigation-service {
  width: 280px;
  padding: 64px 0 65px 0;
  border-right: 7px solid #000000;
}

.navigation-service-item {
  margin-bottom: 35px;
}

.navigation-service-item:last-child {
  margin-bottom: 0;
}

.navigation-service-btn {
  padding: 10px 4px;
}

.service-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-content::after {
  content: "";
  background: 50% 50% no-repeat;
}

.service-content-delivery {
  width: 694px;
  padding: 73px 63px 73px 116px;
}

.service-content-delivery::after {
  width: 136px;
  height: 164px;
  background: url("../images/decorative-images/service-delivery.svg");
}

.service-content-wrapper-delivery {
  max-width: 448px;
}

.service-content-guarantee,
.service-content-credit {
  width: 729px;
  padding: 63px 28px 63px 116px;
}

.service-content-guarantee::after {
  width: 171px;
  height: 195px;
  background: url("../images/decorative-images/service-guarantee.svg");
}

.service-content-credit::after {
  width: 156px;
  height: 188px;
  background: url("../images/decorative-images/service-credit.svg");
}

.service-content-wrapper {
  max-width:475px;
}

.service-content-title {
  margin-top:0;
  margin-bottom: 34px;
}

.service-content-description {
  margin: 0;
}

.service-container-hidden {
  display: none;
}

button.modal-window {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  margin-top: 140px;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #F0F0F0;
  border: none;
}

button.modal-window::before {
  content: "";
  min-width: 125px;
  min-height: 100px;
  background: #FFE17F url("../images/decorative-images/delivery-icon.svg") no-repeat 50% 50%;
}

button.modal-window::after {
  min-width: 125px;
  min-height: 100px;
  content: "";
  background: url("../images/decorative-images/delivery-icon-i.svg") no-repeat 50% 50%;
  opacity: 0.6;
}

button.modal-window:hover::after {
  opacity: 1;
}

.about-and-contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about,
.contacts {
  padding-top: 47px;
}

.about {
  width: 520px;
}

.contacts {
  width: 532px;
}

.contacts-title,
.about-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 48px;
}

.contacts-title::before,
.about-title::before {
  position: absolute;
  left: 0;
  top: -45px;
  display: block;
  width: 84px;
  height: 7px;
  content: "";
  background-color: #000000;
}

.address-details {
  margin: 0;
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.about-description,
.about-delivery-list,
.contacts-description,
.contacts-address,
.contacts-working-hours {
  margin-top: 0;
  margin-bottom: 30px;
}

.about-delivery-list-item {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 26px;
  align-items: center;
  margin-bottom: 19px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.about-delivery-list-item:last-child {
  margin-bottom: 0;
}

.about-delivery-list-item::before {
  width: 8px;
  height: 8px;
  content: "";
  border-radius: 50%;
  background-color: #FFC700;
}

.contacts-info {
  display: block;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.about-details-link,
.contacts-write-link {
  display: inline-block;
  text-align: left;
}

.address-phone-link {
  font-style: normal;
  color: inherit;
}

.subscription {
  padding: 64px 0 56px 0;
  background-color: #F0F0F0;
}

.subscription-information {
  display: flex;
  justify-content: space-between;
}

.subscription-title {
  max-width: 350px;
  margin: -5px 0 135px 5px;
}

.subscription-description {
  width: 550px;
  margin: 0;
}

.subscription-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscription-form {
  display: inline-flex;
  box-sizing: border-box;
}

.subscription-input {
  width: 557px;
  box-sizing: border-box;
  border:none;
  border-bottom: 3px solid #C4C4C4;
  background-color: inherit;
}

.subscription-input::placeholder {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscription-input::-webkit-input-placeholder {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscription-input::-moz-placeholder {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscription-input::-ms-input-placeholder {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscription-button {
  display: inline-block;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  padding: 18px 39px;
  border:3px solid #C4C4C4;
}

.subscription-button:hover {
  background-color: #C4C4C4;
  cursor: pointer;
}

span.subscription {
  display: inline-grid;
  grid-template-columns: min-content 1fr;
  column-gap: 16px;
  align-items: center;
  padding: 0;
  text-align: right;
}

span.subscription::before {
  width: 16px;
  height: 16px;
  content: "";
  background: url("../images/decorative-images/tick-green.svg") no-repeat 50% 50%;
}

.page-footer {
  background-color: #444444;
}

.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 62px 0 52px 0;
}

.logo-footer-photo {
  display: block;
  margin-bottom: 35px;
  fill:rgba(255, 199, 0, 1);
}

.footer-address {
  width: 239px;
  margin-right: 112px;
  margin-bottom: 66px;
}

.footer-nav-and-social {
  width: 444px;
  margin-right: 190px;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 65px;
  margin-bottom: 52px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.social-item {
  display: flex;
  margin-bottom: 10px;
}

.social-item-link {
  position: relative;
  min-width: 55px;
  min-height: 55px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.social-item-link:hover {
  background-color: rgba(255, 199, 0, 1);
}

.social-item-link:active {
  background-color: rgba(255, 199, 0, 1);
  opacity: 0.3;
}

.social-item-link:focus::before {
  display: block;
}

.social-item-link:focus,
.promo-list-pagination:focus,
.range-toggle:focus {
  outline: none;

}

.fb {
  background: url("../images/decorative-images/facebook-default.svg") no-repeat 50% 50%;
}

.ig {
  background: url("../images/decorative-images/instagram-default.svg") no-repeat 50% 50%;
}

.tw {
  background: url("../images/decorative-images/twitter-default.svg") no-repeat 50% 50%;
}

.social-item:last-child {
  margin-right: 0;
}

.footer-phone {
  width: 175px;
}

.footer-phone-link,
.address-details-footer {
  display: block;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  color: #FFFFFF;
}

.address-details-footer {
  position: relative;
}

.address-details-footer::after {
  position: absolute;
  top: 100px;
  left: 0;
  width: 70px;
  height: 7px;
  content: "";
  background-color: #FFC700;
  border: 1px solid #000000;
}

.footer-phone-link {
  margin-bottom: 63px;
  margin-top: 78px;
  line-height: 20px;
}

.footer-nav-link {
  display: inline-block;
  padding: 5px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-phone-link:hover {
  color: rgba(255, 199, 0, 1);
}

.footer-nav-link:hover {
  color: rgba(255, 199, 0, 1);
  border-bottom: 2px solid;
}

.footer-nav-link:active,
.footer-phone-link:active {
  color: rgba(255, 199, 0, 0.3);
  border-bottom: 2px solid;
}

.htmlacademy-link {
  display: block;
  text-align: right;
}

.htmlacademy-link-svg {
  fill:rgba(255, 199, 0, 1);
}

.htmlacademy-link-svg:hover {
  fill:#FFFFFF;
}

.htmlacademy-link-svg:active {
  fill: rgba(255, 255, 255, 0.3);
}

.main-inner {
  color: #000000;
  background-color: #FFFFFF;
}

.inner-header-container {
  width: 1079px;
  margin: 0 auto;
  padding-left: 30px;
}

.inner-header-title {
  margin-top: 35px;
  margin-bottom: 6px;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 429px;
  margin-bottom: 25px;
}

.breadcrumb-link,
.label-choice {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.breadcrumb-link {
  display: block;
  margin-right: 16px;
  padding: 10px 0;
}

.breadcrumb-item {
  display: inline-flex;
  align-items: center;
  margin-right: 16px;
}

.breadcrumb-item-link:last-child {
  margin-right: 0;
}

.breadcrumb-item:not(:last-child)::after {
  width: 4px;
  height: 7px;
  content: "";
  background: url("../images/decorative-images/breadcrumbs-arrow.svg") no-repeat 50% 50%;
}

.catalog-content-wrapper {
  background-color: #F0F0F0;
}

.catalog-content {
  display: grid;
  grid-template-columns: 320px 840px;
  grid-template-areas: "filter sort"
                        "filter products"
                        "filter product-pagination";
  min-height: 100vh;
}

section.filter {
  grid-area: filter;
  padding: 0 60px;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: sort;
  padding: 0 40px;
}

.sort-button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60px;
}

.sort-selector {
  width: 30px;
  height: 30px;
  background: url("../images/decorative-images/sort-up.svg") no-repeat 50% 50%;
  border: none;
  opacity: 0.2;
}

.sort-selector:hover {
  opacity: 0.5;
}

.sort-selector:active,
.pagination-link:hover {
  opacity: 1;
}

.sort-selector:focus {
  background: url("../images/decorative-images/sort-up-focus.svg") no-repeat 50% 50%;
  outline:2px solid #AF4FFF;
  outline-offset: 2px;
  opacity: 1;
}

.down {
  transform: rotate(180deg);
}

.products {
  grid-area: products;
}

.product-pagination {
  grid-area: product-pagination;
  padding: 0 40px;
  background-color: #FFFFFF;
}

.filter-title-main,
.sort-title,
.product-show-more,
.back,
.forward {
  display: block;
  padding: 25px 0;
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter-title-main {
  margin-bottom: 30px;
}

legend.filter-title {
  width:200px;
  border-top:2px solid #000000;
  padding-top: 12px;
  margin-bottom: 23px;
}

fieldset.filter {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border: none;
}

fieldset.filter:nth-of-type(2),
fieldset.filter:nth-of-type(3) {
  margin-bottom: 23px;
}

.range-scale {
  position: relative;
  height:2px;
  margin-bottom: 12px;
  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  height:2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  top:-8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  width: 150px;
  font-family:inherit;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: left;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input,
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:focus {
  outline: none;
  background-color: inherit;
}

.filter-choice-item {
  margin-bottom: 3px;
}
.label-choice {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  column-gap: 16px;
  align-items: center;
}

.label-choice::before {
  width: 20px;
  height: 20px;
  content: "";
  background-color: #EBEBEB;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
}

.radio::before {
  border-radius: 50%;
}

.filter-input:checked + .label-choice::before {
  border: 2px solid #000000;
  background: url("../images/decorative-images/tick-checkbox.svg") no-repeat 50% 50%;
}

.filter-input:checked + .radio::before {
  background: url("../images/decorative-images/radio-disc.svg") no-repeat 50% 50%;
}

.filter-input:hover + .label-choice::before {
  opacity: 0.5;
}

.filter-input:active + .label-choice::before {
  opacity: 0.3;
}

.filter-input:disabled + .label-choice::before {
  opacity: 0.1;
}

.filter-show {
  display: block;
  padding: 10px 5px;
  margin: 0 auto;
}

.product-card-title,
legend.filter-title,
form.modal-window-form {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
}

.sort-select {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  background-color: inherit;
  border: none;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  column-gap: 40px;
  row-gap: 44px;
  width: 760px;
  padding: 70px 40px 0 40px;
  background-color: #FFFFFF;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  transition-duration: 300ms;
}

.new {
  position: relative;
}

.new::before {
  position: absolute;
  top:27px;
  left: 273px;
  display: block;
  width: 60px;
  height: 60px;
  content: "";
  background: url("../images/decorative-images/new.svg") no-repeat 50% 50%;
}

.product-card-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-top: auto;
}

.product-card-link {
  display: block;
  text-decoration: none;
}

.link-img {
  margin-bottom: 22px;
}

.product-card-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.product-card-title {
  max-width: 226px;
  margin: 0;
  color: #000000;
  text-transform: inherit;
}

.product-card-price {
  align-self: flex-start;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.product-button-hover-wrapper {
  position: absolute;
  top:0;
  left:0;
  display: none;
  width: 360px;
  height: 380px;
  background-color: rgba(240, 240, 240, 0.8);
}

.product-button-hover {
  position: relative;
  display: block;
  margin: auto;
  opacity: 1;
}

.product-card:hover .product-button-hover-wrapper,
.product-card:active .product-button-hover-wrapper {
  display: flex;
  opacity: 1;
}

.product-card:hover .product-card-info-wrapper {
  opacity: 0.5;
}

.product-card:active .product-card-info-wrapper {
  opacity: 0.3;
}

.product-show-more {
  width: 100%;
  margin: 44px auto 40px auto;
  padding: 18px 0;
  background-color: #FFFFFF;
  border: 3px solid #E5E5E5;
}

.product-show-more:hover {
  border: 3px solid #000000;
}

.product-show-more:active {
  border: 3px solid #000000;
  opacity: 0.3;
}

.product-show-more-dark:hover {
  color: #FFFFFF;
  background-color: #000000;
  border: 3px solid #000000;
}

.product-show-more-dark:active {
  color: #FFFFFF;
  background-color: #000000;
  border: 3px solid #000000;
  opacity: 0.3;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 78px;
  padding: 0 2px;
  background-color: #EBEBEB;
}

.numbers {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.pagination-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.3);
}

.pagination-link:hover {
  color:rgba(68, 68, 68, 1);
}

.pagination-link:active {
  color:rgba(68, 68, 68, 0.1);
}

.back,
.forward {
  padding: 25px;
  color: rgba(0, 0, 0, 1);
}

.back:hover,
.forward:hover,
.range-toggle:hover {
  background-color: #DCDCDC;
}

.back:active,
.forward:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #DCDCDC;
}

.modal-window-container-wrapper {
  position: fixed;
  top:0;
  left:0;
  z-index: 6;
  display: flex;
  width:100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
}

.modal-window-container {
  position: relative;
  width: 760px;
  margin: auto;
  padding: 42px 80px;
  border: 10px solid #000000;
  background-color: #FFFFFF;
}

.modal-window-container::after {
  position: absolute;
  bottom: -20px;
  left: -10px;
  display: block;
  width: 930px;
  content: "";
  border: 5px solid #E5E5E5;
}

.modal-window-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 0;
  margin-bottom: 42px;
}

.modal-window-header-button {
  display: block;
  width: 31px;
  height: 31px;
  padding: 5px;
  background: url("../images/decorative-images/cross.svg") no-repeat 50% 50%;
  border: transparent;
  transition-duration: 200ms;
}

.modal-window-header-button:hover,
.basket-list-link:hover,
.delete:hover {
  opacity: 0.6;
}

.modal-window-header-button:active,
.basket-list-link:active,
.delete:active {
  opacity: 0.3;
}

.modal-window-header-button:focus,
.basket-list-link:focus,
.delete:focus {
  border:2px solid #AF4FFF;
}

form.modal-window-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 62px;
  grid-template-areas:
                      "name name email email"
                       "message message message quantity"
                       "btn btn btn btn";
  align-items: stretch;
  width: 760px;
  margin-bottom: 42px;
  box-sizing: border-box;
  color: #000000;
  text-transform: inherit;
}

.name {
  position: relative;
  grid-area: name;
}

.email {
  position: relative;
  grid-area: email;
}

.name::after,
.email::after {
  position: absolute;
  right: 20px;
  top:50%;
  width: 15px;
  height: 12px;
  content: "";
}

.name::after {
  background: url("../images/decorative-images/modal-window-userpic.svg") no-repeat 50% 50%;
}

.email::after {
  background: url("../images/decorative-images/modal-window-envelope.svg") no-repeat 50% 50%;
}

.message {
  grid-area: message;
}

.quantity {
  grid-area: quantity;
}

.delivery-form-btn {
  grid-area: btn;
  justify-self: start;
  padding: 10px 25px;
}

.name,
.email,
.quantity,
.message {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.modal-window-input,
.modal-window-input::placeholder {
  font-family: "Rubik", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}

.modal-window-input {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: #F0F0F0;
  box-sizing: border-box;
  opacity: 1;
  border: none;
}

.modal-window-input:hover {
  background-color: #DCDCDC;;
}

.warning,
.name-enter {
  margin: 0;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.modal-window-input:invalid {
  border: 2px solid #FF3D3D;
}

.invalid + .warning {
  color: #FF3D3D;
}

input.quantity::-webkit-outer-spin-button,
input.quantity::-webkit-inner-spin-button {
  appearance: none;
}

input.quantity {
  padding: 20px 60px 20px 70px;
  box-sizing: border-box;
}

input.quantity:invalid {
  border: 2px solid #FF3D3D;
}

.quantity > .modal-window-label {
  position: relative;
}

.quantity-info {
  position: absolute;
  top:-4px;
  right: 18px;
  width: 26px;
  height: 26px;
  background: url("../images/decorative-images/quantity-info.svg") no-repeat;
  border: none;
}

.quantity-info::after {
  position: absolute;
  right: -40px;
  top:36px;
  z-index: 2;
  display: none;
  width: 164px;
  padding: 19px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color:#FFFFFF;
  content: "Постараемся найти, сколько нужно. Привезём сколько получится по требованиям к провозу багажа.";
  background-color: #000000;
  border-bottom: 10px solid #E5E5E5;
}

.quantity-info::before {
  position: absolute;
  top: 30px;
  display: none;
  width: 14px;
  height: 6px;
  content: "";
  background: url("../images/decorative-images/modal-window-triange.svg") no-repeat 50% 50%;
}

.quantity-info:hover::after,
.quantity-info:focus::after,
.quantity-info:hover::before,
.quantity-info:focus::before {
  display: block;
}

.quantity-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.quantity-change {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  border: none;
  cursor: pointer;
}

.less {
  left: 10%;
  background: url("../images/decorative-images/minus-icon.svg") no-repeat 50% 50%;
}

.more {
  right: 10%;
  background: url("../images/decorative-images/plus-icon.svg") no-repeat 50% 50%;
}

.modal-window-title {
  margin: 0;
  padding: 0;
  text-align: left;
}

.modal-window-label {
  display: block;
  margin-bottom: 14px;
}

.modal-window-container-close {
  display: none;
}

.basket-popover {
  position: relative;
  display: none;
  flex-direction: column;
  width: 320px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #000000;
}

.popover-triangle {
  position: absolute;
  top: -6px;
  left: 50%;
  width: 14px;
  height: 6px;
  content: "";
  background: url("../images/decorative-images/modal-window-triange.svg") no-repeat 50% 50%;
}

.popover-container {
  width: 280px;
  margin: 0 auto;
}

.basket-list-link {
  text-decoration: none;
  transition-duration: 200ms;
}

.basket-list-link,
.basket-list-title {
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #FFFFFF;
  outline: none;
}

.basket-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.basket-list-link {
  display: inline-grid;
  grid-template-columns: min-content 1fr;
  column-gap: 23px;
  align-items: center;
  padding: 1px 0;
}

.delete {
  align-self: start;
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 5px;
  background: url("../images/decorative-images/basket-cross.svg") no-repeat 50% 50%;
  border: none;
  outline: none;
  transition-duration: 200ms;
}

.basket-info {
  margin-top: 0;
  margin-bottom: 20px;
  background-color: #1A1A1A;
}

.total-sum-quantity,
.total-items-quantity {
  margin: 0;
}

.basket-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dl-basket-wrapper {
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 15px 0;
}

.basket-open {
  width: 280px;
  padding: 15px 0;
  margin-top: auto;
  box-sizing: border-box;
  background-color: #FFFFFF;
  color: #000000;
}

.basket-open:active {
  background-color: #FFE17F;
  color:rgba(0, 0, 0, 0.6);
}
